@{
    ViewData["Title"] = "Home Page";
}
@model demoapplication.Models.HomeModel
<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>Your IP Address @Model.IpAddress!</p>
</div>
